* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-green: #009A63;
}

.mainNavbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid var(--text-green);

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 100px;
    }

    h3 {
      margin: 0;
      font-size: 22px;
      color: var(--text-green);
    }

    p {
      font-size: 12px;
      margin: 0;
    }
  }
}


.navContainer {
  display: flex;
  justify-content: space-between !important;
  height: 80px;
}


.navBarLinks {
  box-shadow: 0px 0px 5px var(--text-green);
  border-radius: 30px;
  padding: 5px 25px 5px 25px !important;
  font-size: 14px;
  font-weight: 700;
  gap: 20px;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 30px;
  }

  .AdminBtn {
    background-color: white;
    border: 2px solid var(--text-green);
    transition: 0.5s;
  }

  .AdminBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px #009a6445;
  }

  .loginBtn {
    background: linear-gradient(to right, #15db96ee, #009a64e1);
    /* border: 2px solid white; */
    border: none;
    color: white;
    font-size: 14px;
    transition: 0.5s;
    padding: 10px 30px;
    box-shadow: 0 0 20px #009a6484;
  }

  .loginBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px #009a6445;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



.moving-border {
  position: relative;
  background-color: white;
  border-radius: 30px;
}

.moving-border::before,
.moving-border::after {
  content: "";
  border-radius: 30px;
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: linear-gradient(var(--angle),
      white, #15db96ee, white, #009a64e1);
  animation: rotate 10s linear infinite;
}

.moving-border::after {
  filter: blur(10px);
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}

.mainHeroSection {
  margin: 40px 130px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-between;

  .heroHeading {
    display: flex;
    align-items: center;
    gap: 20px;

    .logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: linear-gradient(to right, #15db96ee, #009a64e1);
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    .heading {
      h1 {
        font-size: 50px;
        margin: 0;

        span {
          color: var(--text-green);
        }
      }

      p {
        color: orange;
      }
    }

  }

  .firsTitle {
    font-weight: 400;
    margin: 0;
    padding-top: 20px;
  }

  .secondTitle {
    font-weight: 700;
    color: var(--text-green);
    padding-bottom: 20px;
  }

  .facitilies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .btn {
      background: linear-gradient(to right, #15db96ee, #009a64e1);
      color: white;
      border-radius: 30px;
      padding: 10px 10px;
      font-weight: 700;
      display: flex;
      align-items: center;
    }

    .redBtn {
      background-color: #FF8385;
      border: 2px solid red;
      color: rgb(186, 14, 14);
      border-radius: 30px;
      padding: 12px 10px;
      font-weight: 700;
      display: flex;
      align-items: center;
    }
  }
}

.certificedSection {
  margin: 0 130px;

  .line {
    color: #009a64b6;
  }

  h1 {
    text-align: center;
    font-size: 52px;
    color: var(--text-green);
  }

  .tagline {
    border: 2px solid var(--text-green);
    padding: 10px 20px;
    border-radius: 30px;
    margin: auto;
    width: 230px;
    margin-bottom: 50px;

    background-color: #009a641b;
    color: var(--text-green);

    .dot {
      font-size: 18px;
      background-color: #009a6469;
      color: #009a6469;
      border-radius: 50%;
      margin-bottom: 3px;
    }
  }

  p {
    text-align: center;
    padding: 10px;
    color: #ccc;
    font-size: 20px;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .merquee {
      display: flex;
      align-items: end !important;
    }

    img {
      width: 60px;
    }
  }
}

.medicalTeam {
  background-color: #EFF9FA;
  margin: 50px 0;
  padding: 50px 130px;

  h1 {
    text-align: center;
    font-size: 52px;

    span {
      color: var(--text-green);
    }
  }

  p {
    font-size: 18px;
    color: #0000008c;
    text-align: center;
  }

  .cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 0;

    .drcard {
      width: 280px;
      background-color: white;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      padding: 10px;

      img {
        width: 100%;
        border-radius: 30px;
      }

      h2 {
        font-size: 22px;
        padding: 10px 0px 0px 10px;
      }

      h4 {
        padding: 0px 0px 0 10px;
        font-size: 16px;
        color: var(--text-green);
      }

      div {
        margin: 8px 0;
        border: 1px solid var(--text-green);
        padding: 2px 7px;
        border-radius: 20px;
        width: 160px;
        background-color: #009a641c;
        font-size: 13px;
        margin-left: 10px;
      }

      button {
        margin: 10px 0px 0 10px;
        width: 95%;
        border: 1px solid var(--text-green);
        background: linear-gradient(to right, #15db96ee, #009a64e1);
        border-radius: 30px;
        color: white;
        padding: 7px 0;

      }
    }
  }
}